.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 2fr 1fr 1.2fr;
    grid-template-rows: 0.5fr 1fr 2fr 1fr;
    grid-template-areas: 
    "nav nav nav nav nav"
    "side actions covid tips resources" 
    "side notifications tools tips resources"
    "side notifications teams teams ."
    ;
    grid-gap: 0.2rem;
}
nav{
    background: #0F529B;
    grid-area: nav;
   
}
#Navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
    vertical-align: top;
}
.side{
    background: #0F529B;
    grid-area: side;
}
#sideList li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    vertical-align: top;
    color: white;
}
#sideList img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
nav img {
    border-radius: 50%;
}
.actions{
    background: grey;
    grid-area: actions;
}
.actions h3 {
    color: #0F529B;
}
.notifications{
    background: gray;
    grid-area: notifications;
}
.notifications h3 {
    color: #0F529B;
}
.covid {
grid-area: covid;
}
.tools {
    background: white;
    grid-area: tools;
}
.tools h3 {
    color: #0F529B;
}
 .tools .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .con {
    padding: 2px 16px;
  }
.teams {
    grid-area: teams;
}
.teams img {
    border-radius: 50%;
}
.teams h4 {
    color: #0F529B;
}
.tips {
     grid-area: tips;
}
.tips h3 {
    color: #0F529B;  
}
.resources{
    grid-area: resources;
    color:black;
}
.resources h3 {
    color: #0F529B;
}
#resourceList li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    vertical-align: top;

}